apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: lars-sandbox
labels:
  - includeSelectors: true
    pairs:
      app: hamrss

resources:
  - ../manifests/
  - ingress.yaml
  - password-generator.yaml
  - generate-password-job.yaml
  - miniflux
  - nginx

secretGenerator:
  - name: hamrss-htpasswd
    files:
      - secrets/htpasswd
  - name: hamrss-secrets
    envs:
      - secrets/hamrss-secrets.env

configMapGenerator:
  - name: hamrss-config
    behavior: merge
    literals:
      - MINIFLUX_DB_USER=miniflux
      - MINIFLUX_DB_NAME=miniflux

images:
  - name: cli
    newName: image-registry.openshift-image-registry.svc:5000/openshift/cli
    newTag: latest
  - name: nginx
    newName: docker.io/nginxinc/nginx-unprivileged
    newTag: mainline
