apiVersion: v1
kind: Service
metadata:
  labels:
    component: miniflux
  name: miniflux
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: http
  selector:
    component: miniflux
